<!DOCTYPE html>
<html>
  <head>
    <title>Resaled</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.heroURL = "<%= image_url('sell-header.jpg') %>"
    </script>
    <script type="text/javascript">
      window.githubURL = "<%= image_url('GitHub-Mark-32px.png') %>"
    </script>
    <script type="text/javascript">
      window.linkedinURL = "<%= image_url('In-2C-34px-TM.png') %>"
    </script>
    <script type="text/javascript">
      window.avatarURL = "<%= image_url('male-circle-128.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
